# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


*.class

*.log
*ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.idea
*.xml
*.iml
.idea
